<p style="color: green"><%= notice %></p>

<h1>Category Details</h1>

<div>
  <strong>Name:</strong>
  <%= @category.name %>
</div>

<div>
  <strong>Description:</strong>
  <%= @category.description %>
</div>

<h2>Posts in this category</h2>
<% if @category.posts.any? %>
  <ul>
    <% @category.posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No posts in this category yet.</p>
<% end %>

<div>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %> |
  <%= link_to 'Delete', category_path(@category),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div> 